* {
    margin: 0;
}

#root {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    .header {
        height: 110px;
        background-color: white;
        border-bottom: 5px solid rgb(253, 165, 15);
        display: flex;
        text-align: center;
        align-items: center;
        overflow: hidden;
        div{
            flex: 1;
            color: rgb(253, 165, 15);
            font-size: 3em;
            text-shadow: 1px 1px gray;
            font-style: italic;
        }
    }

    .playerContainer {
        height: 430px;
        div {
            margin: 12px;
            input {
                
            }
            #rollButton {
                width: 100%;
                height: 90px;
                background-color: rgb(253, 165, 15);
                color: white;
                font-size:3em;
                font-style: italic;
                border-radius: 20px;                
                border: none;
                font-weight: 800;
                
            }
            #rollButton:hover {
                color: rgb(253, 165, 15);
                background-color: white;
                border: 2px solid rgb(253, 165, 15);
            }

            #rollButton:focus {
                outline: 0;
            }

            #rollButton:active {
                background-color: rgb(253, 165, 15);
            }
        }
    }

    .resContainer {
        height: 380px;
        background-color: lightblue;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
        .Position {
            justify-self: end;
            align-self: center;
        }
        .teamName {
            place-self: center;
        }
        .player {
            justify-self: start;
            align-self: center;
        }

    
        div:nth-child(1) {
            grid-column: span 2;
        }
        div:nth-child(2) {
            grid-column: span 2;
        }
    }
}